#customers {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#customers td, #customers th {
  text-align: center;
  border: 1px solid #ddd;
  padding: 8px;
}

#customers tr:nth-child(even) {
  background-color: #f2f2f2;
}

#customers tr:hover {
  background-color: #ddd;
}


.test {
  width: 100%;
  padding: 12px 0px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;

}
input[type=submit] {
  width: 300px;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
}
.test1{
  width: 100%;
  padding: 8px 0px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;

}

input[type=submit]:hover {
  background-color: #45a049;
}

#form {
  margin: auto;
  width: 500px;
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  box-shadow: #CDCDCD;
}
.left {
  background: #CDCDCD;
  height: 600px;
  overflow: hidden;
}

.left:hover {
  overflow: scroll;
}

body {
  overflow-x: hidden;
}
a{
  color: white;
}
