<h3 style="color: blue;font-family:Algerian;font-size: 40px; text-align: center; text-shadow: 0em 0em 0em #ffffff,
                0.08em 0.08em 0em #aaaaaa">Customer List</h3><br>
<p>
  <a style="color: blue">
    <span style="color: blue" class="fa-solid fa-file-circle-plus h5 my-auto me-1"></span>
    Add new customer
  </a>
</p>
<form class="d-flex my-2" role="search" action="" method="get" style="margin-left: 900px">
  <input style="background-color: #f2f2f2; border: 1px solid olivedrab" class="form-control me-2 shadow" type="search"
         placeholder="Input search Name" aria-label="Search"
         name="name">
  <input style="background-color: #f2f2f2; border: 1px solid olivedrab" class="form-control me-2 shadow" type="search"
         placeholder="Input search Phone" aria-label="Search"
         name="phone">
  <input style="background-color: #f2f2f2; border: 1px solid olivedrab" class="form-control me-2 shadow" type="search"
         placeholder="Input search Address" aria-label="Search"
         name="address">
  <button style="background-color: #45a049" class="btn btn-outline-success shadow" type="submit" name="action"
          value="search">
    <i class="fa-solid fa-magnifying-glass text-light"></i></button>
</form>

<table id="customers">
  <thead>
  <tr>
    <th>Serial</th>
    <th>Name</th>
    <th>Id card</th>
    <th>Phone number</th>
    <th>Customer type</th>
    <th>Gender</th>
    <th>Update</th>
    <th>Delete</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let customerObj of this.customerList;index as i">
    <td>{{i + 1}}</td>
    <td>{{customerObj.name}}</td>
    <td>{{customerObj.idCarrd}}</td>
    <td>{{customerObj.phone}}</td>
    <td>{{customerObj.customertype}}</td>
    <td>
      <span *ngIf="customerObj.gender == 1">Male</span>
      <span *ngIf="customerObj.gender == 0">Female</span>
      <span *ngIf="customerObj.gender == 2">LGBT</span>
    </td>
    <td>
      <a>
        <button class="btn btn-primary btn-outline-secondary btn-sm shadow">
          <span class="fa-regular fa-pen-to-square text-light h6 m-auto px-2"></span>
        </button>
      </a>
    </td>
    <td>
      <button
        class="btn btn-danger btn-outline-secondary btn-sm shadow" data-bs-toggle="modal"
        data-bs-target="#deleteCustomer">
        <span class="fa-solid fa-trash-can text-light h6 m-auto px-2"></span>
      </button>
    </td>
  </tbody>
</table>
