<h3 style="color: blue;font-family:Algerian;font-size: 40px; text-align: center; text-shadow: 0em 0em 0em #ffffff,
                0.08em 0.08em 0em #aaaaaa">Customer List</h3><br>
<p>
  <a style="color: blue">
    <span style="color: blue" class="fa-solid fa-file-circle-plus h5 my-auto me-1"></span>
    Add new customer
  </a>
</p>

<table id="customers">
  <thead>
  <tr>
    <th>Serial</th>
    <th>Name</th>
    <th>Id card</th>
    <th>Phone number</th>
    <th>Customer type</th>
    <th>Gender</th>
    <th>Update</th>
    <th>Delete</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let customerObj of this.customerList;index as i">
    <td>{{i + 1}}</td>
    <td>{{customerObj.name}}</td>
    <td>{{customerObj.idCarrd}}</td>
    <td>{{customerObj.phone}}</td>
    <td>{{customerObj.customertype}}</td>
    <td>
      <span *ngIf="customerObj.gender == 1">Male</span>
      <span *ngIf="customerObj.gender == 0">Female</span>
      <span *ngIf="customerObj.gender == 2">LGBT</span>
    </td>
    <td>
      <a>
        <button class="btn btn-primary btn-outline-secondary btn-sm shadow">
          <span class="fa-regular fa-pen-to-square text-light h6 m-auto px-2"></span>
        </button>
      </a>
    </td>
    <td>
      <button
        class="btn btn-danger btn-outline-secondary btn-sm shadow" data-bs-toggle="modal"
        data-bs-target="#deleteCustomer">
        <span class="fa-solid fa-trash-can text-light h6 m-auto px-2"></span>
      </button>
    </td>
  </tbody>
</table>
<nav aria-label="..." class="justify-content-center d-flex">
  <ul class="pagination">
    <li class="page-item">
      <a class="page-link" (click)="previous()" *ngIf="curPage > 1">&laquo; Trang trước</a>
    </li>
    <li class="page-item disabled" *ngIf="curPage <= 1">
      <a class="page-link">&laquo;</a>
    </li>

    <li class="page-item"><a class="page-link disabled" href="" [text]="curPage + ' / ' + totalPage"></a>
    </li>

    <li class="page-item">
      <a class="page-link" (click)="next()" *ngIf="curPage < totalPage">Trang sau &raquo;</a>
    </li>
    <li class="page-item disabled" *ngIf="curPage >= totalPage">
      <a class="page-link">&raquo;</a>
    </li>
  </ul>
</nav>

