<h3 style="color: blue;font-family:Algerian;font-size: 40px; text-align: center; text-shadow: 0em 0em 0em #ffffff,
                0.08em 0.08em 0em #aaaaaa">Contract List</h3><br>
<p>
  <a style="color: blue">
    <span style="color: blue" class="fa-solid fa-file-circle-plus h5 my-auto me-1"></span>
    Add new contract
  </a>
</p>
<!--<form class="d-flex my-2" role="search" action="" method="get" style="margin-left: 900px">-->
<!--  <input style="background-color: #f2f2f2; border: 1px solid olivedrab" class="form-control me-2 shadow" type="search"-->
<!--         placeholder="Input search Name" aria-label="Search"-->
<!--         name="name">-->
<!--  <input style="background-color: #f2f2f2; border: 1px solid olivedrab" class="form-control me-2 shadow" type="search"-->
<!--         placeholder="Input search Phone" aria-label="Search"-->
<!--         name="phone">-->
<!--  <input style="background-color: #f2f2f2; border: 1px solid olivedrab" class="form-control me-2 shadow" type="search"-->
<!--         placeholder="Input search Address" aria-label="Search"-->
<!--         name="address">-->
<!--  <button style="background-color: #45a049" class="btn btn-outline-success shadow" type="submit" name="action"-->
<!--          value="search">-->
<!--    <i class="fa-solid fa-magnifying-glass text-light"></i></button>-->
<!--</form>-->

<table id="customers">
  <thead>
  <tr>
          <th>Customer Name</th>
          <th>Start Day</th>
          <th>End Day</th>
          <th>Service</th>
          <th>Depotit</th>
          <th>Update</th>
  </tr>
  </thead>
  <tbody>
      <tr>
        <td>William Bùi</td>
        <td>12/09/2022</td>
        <td>21/09/2022</td>
        <td>Villa 1</td>
        <td>2000000</td>
        <td><a class="btn btn-primary" href="#" role="button">Update</a></td>
      </tr>

      <tr>
        <td>William Bùi</td>
        <td>12/09/2022</td>
        <td>21/09/2022</td>
        <td>Villa 1</td>
        <td>2000000</td>
        <td><a class="btn btn-primary" href="#" role="button">Update</a></td>
      </tr>
      <tr>
        <td>William Bùi</td>
        <td>12/09/2022</td>
        <td>21/09/2022</td>
        <td>Villa 1</td>
        <td>2000000</td>
        <td><a class="btn btn-primary" href="#" role="button">Update</a></td>
      </tr>
      <tr>
        <td>William Bùi</td>
        <td>12/09/2022</td>
        <td>21/09/2022</td>
        <td>Villa 1</td>
        <td>2000000</td>
        <td><a class="btn btn-primary" href="#" role="button">Update</a></td>
      </tr>
      <tr>
        <td>William Bùi</td>
        <td>12/09/2022</td>
        <td>21/09/2022</td>
        <td>Villa 1</td>
        <td>2000000</td>
        <td><a class="btn btn-primary" href="#" role="button">Update</a></td>
      </tr>
      <tr>
        <td>William Bùi</td>
        <td>12/09/2022</td>
        <td>21/09/2022</td>
        <td>Villa 1</td>
        <td>2000000</td>
        <td><a class="btn btn-primary" href="#" role="button">Update</a></td>
      </tr>
      <tr>
        <td>William Bùi</td>
        <td>12/09/2022</td>
        <td>21/09/2022</td>
        <td>Villa 1</td>
        <td>2000000</td>
        <td><a class="btn btn-primary" href="#" role="button">Update</a></td>
      </tr>
      <tr>
        <td>William Bùi</td>
        <td>12/09/2022</td>
        <td>21/09/2022</td>
        <td>Villa 1</td>
        <td>2000000</td>
        <td><a class="btn btn-primary" href="#" role="button">Update</a></td>
      </tr>
  </tbody>
</table>
