<div class="container-fluid">
<div class="row" style="background-color:orange; text-align: center; height: 80px">
  <div style="margin: auto" class="col-sm-5 col-lg-5 col-md-5">
    <i style="color: white; font-size: 40px" class="fa-sharp fa-solid fa-plane"></i>
    <a style="font-size: 40px; color:white; font-family: 'UTM Impact'">STAR</a><a style="font-size: 40px; color: black; font-family: 'UTM Impact'">TRAVELS</a>
  </div>
  <div style="margin: auto; color: white" class="col-sm-7 col-lg-7 col-md-7">
    <nav class="navbar navbar-expand-lg ">
      <div style="color: white;font-weight: bold" class="container-fluid mx-5">
        <i style="margin-top: 8px" class="fa-solid fa-house-chimney h5 mx-1"></i>
        <a style="color: white" class="navbar-brand" href="http://localhost:63342/case_study/home.html?_ijt=so04q940rcv7f26frtnj2ie3lv">HOME</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item dropdown ms-3">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                 aria-expanded="false">EMPLOYEE</a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="/employee">Employee list</a></li>
                <li><a class="dropdown-item" href="/employee/create">Add new Employee</a></li>
              </ul>
            </li>

            <li class="nav-item dropdown ms-3">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                 aria-expanded="false">CUSTOMER</a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="/customer">Customer list</a></li>
                <li><a class="dropdown-item" href="/customer/create">Add new Customer</a></li>
              </ul>
            </li>

            <li class="nav-item dropdown ms-3">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                 aria-expanded="false">SERVICE</a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="http://localhost:63342/case_study/list.html?_ijt=uim2s8d9pmpe88h6ru7i5u6ub5">Facility list</a></li>
                <li><a class="dropdown-item" href="/facility/create">Add new Facility</a></li>
              </ul>
            </li>

            <li class="nav-item dropdown ms-3">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                 aria-expanded="false">CONTRACT</a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="/contract">Contract list</a></li>
                <li><a class="dropdown-item" href="/contract/create">Add new Contract</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </nav>

  </div>

</div>
<div class="row">
  <div style="background-color: orange; font-family: 'Times New Roman';border-bottom: 10px solid burlywood;" class="col-sm-12 col-lg-12 col-md-12">
    <h2>
      <marquee>
        FURAMA RESORT XIN KÍNH CHÀO QUÝ KHÁCH!
      </marquee>
    </h2>
  </div>
</div>
</div>
